[tool.poetry]
name = "serena"
version = "0.7.0"
description = "An AMQP 0-9-1 client using AnyIO."
authors = ["Lura Skye <l@veriny.tf>"]
license = "LGPL-3.0-or-later"
classifiers = [
    "Development Status :: 4 - Beta",
    "Operating System :: OS Independent",
    "Framework :: AnyIO",
]
readme = "README.rst"

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
anyio = "^3.5.0"
attrs = "^21.4.0"
"backports.strenum" = { version = "^1.1.1;", python = "<3.11" }

Sphinx = { version = "^4.3.2", optional = true }
sphinx-rtd-theme = { version = "^1.0.0", optional = true }
sphinx-inline-tabs = { version = "^2022.1.2-beta.11", optional = true }
sphinxcontrib-trio = { version = "^1.1.2", optional = true }
sphinx-autodoc-typehints = { version = "^1.15.2", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
black = "^21.12b0"
isort = "^5.10.1"
trio = "^0.19.0"
prettyprinter = "^0.18.0"
pytest-cov = "^3.0.0"

[tool.poetry.extras]
docs = ["Sphinx", "sphinxcontrib-trio", "sphinx-autodoc-typehints", "sphinx-rtd-theme",
    "sphinx-inline-tabs"]


[tool.pytest.ini_options]
log_cli_level = "5"
log_cli = true
addopts = "--cov --cov-report=html -m 'not slow'"
markers = [
    "slow: tests that are slow",
]

[tool.coverage.run]
branch = true
source = ["serena"]

[tool.coverage.report]
exclude_lines = [
    # standard tthings
    "pragma: no cover",
    "def __repr__",
    "if TYPE_CHECKING:",

    # these are only used if the server is really fucking up and so don't matter.
    "raise AMQPStateError",
    "raise InvalidPayloadTypeError",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.black]
line-length = 100
